#Certificates{
    display: flex;
    flex-direction: column;
    .certificates-center{
        margin-top: 3rem;
        .row{
            gap: 2.5rem 0;
            .card {
                    border: none;
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-align: center;
            
                    .card-image {
                        position: relative;
                        width: 3rem;
                        height: 3rem;
                        margin-bottom: 0.2rem;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
            
                    .card-info {
                        h4 {
                            font-size: 0.7rem;
                            margin: 0;
                        }
            
                        p {
                            font-size: 0.7rem;
                            margin-bottom: 0.2rem;
                        }
            
                        a {
                            display: inline-block;
                            font-size: 0.6rem;
                            padding: 0.4rem 0.7rem;
                        }
                    }
                }
        }
    }
    @media screen and (min-width : $medium-screen) {
        .certificates-center{
            margin-top: 15vh;
            .row{
                gap: 9rem 0;

                .col{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .card {
                            width: 50%;
                        }
                }
                
            }
        }
    }
}