.default-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section{
    padding: $navbar-height min(7rem, 10vw);
    min-height: 100vh;
}   

.blue-section{
    background-image: $radial-blue;
    color: $white;
}

.primary-button{
    background-color: $blue;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-weight: bold;
    font-family: $open;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    
    &:hover{
        background-color: $light-blue;
    }

    &:active{
        box-shadow: 0 0 10px #0008;
        transform: scale(0.9);
    }
}
