
.navbar{
    position: fixed;
    width: 100vw;
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    height: $navbar-height;
    padding: 0 max(3rem,15vw);
    z-index: 10;

    .links{
        position: absolute;
        width: 100%;
        left: 100%;
        top: $navbar-height;        
        background-image: $radial-blue;
        color: white;
        transition: 0.3s linear;
        z-index: 1;
        
        ul{
            width: 100%;
            height: calc(100vh - $navbar-height);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;

            li{
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.2rem;
                    opacity: 0.8;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        &.active{
            left: 0;
        }
    }
    .nav-btn{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: pointer;
        span{
            display: block;
            width: 2.5rem;
            height: 0.4rem;
            border-radius: 15px;
            background-color: $white;
            transform-origin: 0 50%;
            transition: 0.3s linear;
        }
        &.active{
            :nth-child(1){
                transform: rotate(45deg);
            }
            :nth-child(2){
                opacity: 0;
            }
            :nth-child(3){
                transform: translateY(2px) rotate(-45deg);
            }
        }
    }

}

@media screen and (min-width : $large-screen) {

    $navbar-height : 4.5rem;

    .navbar{
        justify-content: space-around;
        height: $navbar-height;
        padding: 0;
        .links {
            position: relative;
            left: 0;
            top: 0;
            width: fit-content;
            background-image: none;
            transition: 0s;
            
            ul{
                flex-direction: row;
                height: auto;
                gap: 3rem;
                align-items: center;
            }
            
        }
        .nav-btn{
            position: absolute;
            transform: translateX(52vw);
            opacity: 0;
        }    
    }

    

    
}