@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Sanchez&display=swap');

//global variables

$open : 'Open Sans', sans-serif;
$sanchez : "Sanchez", serif;

$dark-blue : #001224;
$blue : #0063BE;
$light-blue : #0b6eca;
$white : #fff;
$radial-blue : radial-gradient(#0063BE, #001933);

$navbar-height : 4rem;

$small-screen : 576px;
$medium-screen : 768px;
$large-screen : 992px;




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 10px;
    user-select: none;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}

h1,h2,h3,h4{
    font-family: $open;
    font-weight: bold;
}

p,a,button,label{
    font-family: $sanchez;
    font-weight: light;
}

@import "./global";
@import "./navbar";
@import "./home";
@import "./skills";
@import "./projects";
@import "./certificates";
@import "./contact";